body {
  direction: rtl;
  text-align: right;
  font-family: Lateef, tahoma, 'open sans', arial;
  font-size: 28px;
  margin: 0; }

h1 {
  margin-top: 0; }

p {
  text-align: justify;
  color: #222; }

.page {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(to bottom left, #fff, #dedede);
  min-height: 100vh;
  z-index: 0; }

.container {
  display: flex;
  align-items: center;
  max-width: 1200px; }
  @media (max-width: 1200px) {
    .container {
      flex-direction: column;
      align-items: center;
      margin: 32px auto 0; } }
  @media (min-width: 1200px) {
    .container > div {
      margin-left: 32px;
      margin-right: 32px; } }
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.header-svg, .footer-svg {
  position: absolute;
  z-index: -1;
  width: 100vw; }

.header-svg {
  top: 0;
  max-height: 100%; }

.footer-svg {
  bottom: 0; }
  @media (max-width: 1200px) {
    .footer-svg {
      transform: scaleY(2); } }
.socials {
  direction: ltr;
  padding-bottom: 5px;
  text-align: center; }
  .socials a {
    margin: 6px;
    width: 30px;
    height: 30px;
    display: inline-block; }
    .socials a img {
      width: 30px;
      height: 30px;
      border-radius: 8px;
      background-color: #2063a7; }
    .socials a:hover img {
      background-color: #000;
      border-radius: 14px; }

.btn {
  display: block;
  text-decoration: none;
  background: #fff;
  color: #209748;
  padding: 4px 32px;
  border-radius: 32px;
  border: 1px solid #209748;
  margin: 32px auto 0;
  width: 250px;
  text-align: center; }
  .btn:hover {
    background: #46ae69;
    border-color: #209748;
    color: #fff; }

.content-box {
  padding: 32px;
  border-radius: 16px;
  background: #ffffffad; }
  @media (max-width: 1200px) {
    .content-box {
      background: none; } }
.img-cover {
  max-width: 70vw; }

.mt-lg {
  margin-top: 64px; }
  .mt-lg-desktop {
    margin-top: 64px; }
    @media (max-width: 1200px) {
      .mt-lg-desktop {
        margin-top: 0; } }
.mb-lg {
  margin-bottom: 64px; }

.mt-sm {
  margin-top: 16px; }
