.socials {
  direction: ltr;
	padding-bottom: 5px;
	text-align: center;

  a {
    margin: 6px;
    width: 30px;
    height: 30px;
    display: inline-block;

    img {
      width: 30px;
      height: 30px;
      border-radius: 8px;
      background-color: #2063a7;
    }

    &:hover img {
      background-color: #000;
      border-radius: 14px;
    }
  }
}
