<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" property="og:title" content="{{ .Site.Title }}" />
<meta name="twitter:description" property="og:description" content="{{ .Site.Params.OgDescription }}" />
<meta name="twitter:url" property="og:url" content="{{ .Site.BaseURL }}" />
<meta name="twitter:site" content="@libmerit" />
<meta name="twitter:creator" content="@libmerit" />
<meta name="twitter:image:alt" content="{{ .Site.Title }}" />
{{ $ogImage := resources.Get "images/og-image.png" }}
<meta name="twitter:image" property="og:image" content="{{ ($ogImage.Fill "1200x630 TopRight jpg").Permalink }}" alt="{{ .Title }}" />
<link rel="canonical" href="{{ .Site.BaseURL }}">
