<div class="socials mt-md">
  {{/* <a href="https://linkedin.com/in/libmerit/"><img alt="github" src="{{ (resources.Get "images/linkedin.svg").Permalink }}" /></a> */}}
  {{/* <a href="https://t.me/libmerit"><img alt="telegram" src="{{ (resources.Get "images/telegram.svg").Permalink }}" /></a> */}}
  {{/* <a href="https://instagram.com/libmerit"><img alt="instagram" src="{{ (resources.Get "images/instagram.svg").Permalink }}" /></a> */}}
  <a href="https://github.com/libmerit/libmerit.github.io/discussions"><img alt="github" src="{{ (resources.Get "images/github.svg").Permalink }}" /></a>
  <a href="mailto:libmerit@gmail.com"><img alt="github" src="{{ (resources.Get "images/google.svg").Permalink }}" /></a>
</div>
