{{ define "main" }}
  <div class="container my-lg">
    <div class="column">
      {{ $coverImage := .Page.Resources.Get .Params.CoverImage }}
      <picture>
        <source srcset="{{ ($coverImage.Resize "467x webp q75").Permalink }}" type="image/webp">
        <source srcset="{{ $coverImage.Permalink }}" type="image/jpeg">
        <img class="img-cover" src="img/creakyOldJPEG.jpg" alt="{{ .Title }}">
      </picture>
    </div>

    <div class="content-box" style="max-width:100vw; box-sizing:border-box;">
      {{.Content}}
      {{ partial "socials" . }}

      {{ if .Params.DownloadLabel }}
        <a
          href="{{ (resources.Get "libmerit.pdf" | resources.Copy .Params.DownloadName).Permalink }}"
          class="btn"
          target="_blank"
          download="{{ .Params.DownloadName }}"
        >{{ .Params.DownloadLabel }}</a>
      {{ end }}
    </div>
  </div>
{{ end }}
