body {
  direction: rtl;
  text-align: right;
  font-family: Lateef, tahoma, 'open sans', arial;
  font-size: 28px;
  margin: 0; }

h1 {
  margin-top: 0; }

p {
  margin: 8px 0;
  text-align: justify;
  color: #222; }

.page {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(to bottom left, #fff, #dedede);
  min-height: 100vh;
  z-index: 0; }

.container {
  display: flex;
  align-items: center;
  max-width: 1200px; }
  @media (max-width: 1200px) {
    .container {
      flex-direction: column;
      align-items: center;
      margin: 32px auto 0; } }
  @media (min-width: 1200px) {
    .container > div {
      margin-left: 32px;
      margin-right: 32px; } }
.column, .row {
  display: flex;
  justify-content: center;
  align-items: center; }

.column {
  flex-direction: column; }

.header-svg, .footer-svg {
  position: absolute;
  z-index: -1;
  width: 100vw; }

.header-svg {
  top: 0;
  max-height: 100%; }

.footer-svg {
  bottom: 0; }
  @media (max-width: 1200px) {
    .footer-svg {
      transform: scaleY(2); } }
.socials {
  direction: ltr;
  padding-bottom: 5px;
  text-align: center; }
  .socials a {
    margin: 6px;
    width: 30px;
    height: 30px;
    display: inline-block; }
    .socials a img {
      width: 30px;
      height: 30px;
      border-radius: 8px;
      background-color: #2063a7; }
    .socials a:hover img {
      background-color: #000;
      border-radius: 14px; }

.btn {
  display: block;
  text-decoration: none;
  background: #209748;
  color: #fff;
  padding: 4px 32px;
  border-radius: 32px;
  border: 1px solid #209748;
  margin: 32px auto 0;
  width: 250px;
  text-align: center; }
  .btn:hover {
    background: #46ae69;
    border-color: #137133;
    color: #fff; }

.btn-tweet, .btn-linkedin, .btn-telegram {
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  height: 28px;
  padding: 1px 12px 1px 12px;
  border-radius: 9999px;
  color: #fff;
  background-color: #1d9bf0;
  line-height: 26px !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  font: normal normal normal 12px/18px 'Helvetica Neue',Arial,sans-serif; }

.btn-linkedin {
  background-color: #007bb7; }

.btn-telegram {
  background-color: #1c93e3; }

.content-box {
  padding: 32px;
  border-radius: 16px;
  background: #ffffffad;
  box-shadow: 10px 10px 10px #0001; }
  @media (max-width: 1200px) {
    .content-box {
      background: none;
      box-shadow: none; } }
.img-cover {
  max-width: 70vw; }

.hidden {
  display: none; }

.my-lg {
  margin: 32px 0; }
